<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--<listener>
        <listener-class>
            packControl.Inicializacion
        </listener-class>
    </listener>-->
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>packControl.Controlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>HorasReservadas</servlet-name>
    <servlet-class>packControl.HorasReservadas</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>HorasReservadas</servlet-name>
    <url-pattern>/HorasReservadas</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>Activar</servlet-name>
        <servlet-class>packControl.Activar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activar</servlet-name>
        <url-pattern>/Activar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>packControl.Eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCoche</servlet-name>
        <servlet-class>packControl.AddCoche</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCoche</servlet-name>
        <url-pattern>/AddCoche</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>RegistrarCoche</servlet-name>
        <servlet-class>packControl.RegistrarCoche</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarCoche</servlet-name>
        <url-pattern>/RegistrarCoche</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>packControl.Registrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Reservar</servlet-name>
        <servlet-class>packControl.Reservar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reservar</servlet-name>
        <url-pattern>/Reservar</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Gestionador</servlet-name>
        <servlet-class>packControl.Gestionador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Gestionador</servlet-name>
        <url-pattern>/Gestionador</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BD</servlet-name>
        <servlet-class>utils.BD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BD</servlet-name>
        <url-pattern>/BD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
